<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hola">Hola</a></li>
        <li><a href="/hello/Pablo">Hello</a></li>
        <li><a href="/reverse">Reverse</a></li>
    </ul>
</nav>