<h1>Reverse</h1>

<p>Enter a string to see its reversed output.</p>

<form action="/reverse" method="post">
    <label for="user_input">String:</label>
    <input type="text" name="user_input">
    <input type="submit" value="reverse" class="button-primary">
</form>

<% if @reversed_string %>
<p>
    <strong>Reversed String: </strong>
    <%= @reversed_string %>
</p>
<% end %>